/* ConsultaEncuestas.css */

.consulta-encuestas-container {
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
  }
  
  .consulta-encuestas-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: rgb(5, 216, 158);
    text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000,
      0px 0px 10px #FF0000,
      0px 0px 20px #0000FF,
      0px 0px 30px #00FF00;
  }
  
  .consulta-encuestas-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
  }
  
  .consulta-encuestas-input {
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 95%;
  }
  
  .consulta-encuestas-button {
    padding: 10px;
    background-color: rgb(122, 207, 168);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .consulta-encuestas-button:hover {
    background-color: rgb(50, 151, 105);
  }
  
  .consulta-encuestas-actions {
    margin-top: 20px;
  }
  
  .consulta-encuestas-logout-button {
    padding: 10px;
    background-color: rgb(163, 65, 64);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .consulta-encuestas-logout-button:hover {
    background-color: rgb(231, 114, 112);
  }
  
  .consulta-encuestas-secondary-button {
    padding: 10px;
    background-color: rgb(122, 207, 168);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-right: 10%;
  }
  
  .consulta-encuestas-secondary-button:hover {
    background-color: rgb(50, 151, 105);
  }
  