/* Quejas.css */

.quejas-container {
  width: 50%;
  margin: 80px auto;
  padding: 20px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.quejas-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: rgb(5, 216, 158);
  text-shadow:
    -1px -1px 0 #000,  /* Sombra negra */
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000,
    0px 0px 10px #FF0000, /* Rojo */
    0px 0px 20px #0000FF, /* Azul */
    0px 0px 30px #00FF00; /* Verde */
}

.quejas-textarea {
  width: 95%;
  height: 150px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin: 10px 0;
}

.quejas-button {
  padding: 10px;
  background-color: rgb(122, 207, 168);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.quejas-button:hover {
  background-color: rgb(50, 151, 105);
}

.previsualizacion {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f9f9f9;
  text-align: left;
}

.previsualizacion h4 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: rgb(5, 216, 158);
}

.previsualizacion p {
  margin: 8px 0;
  font-size: 1rem;
}

.confirmar-button {
  padding: 10px;
  background-color: rgb(122, 207, 168);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.confirmar-button:hover {
  background-color: rgb(50, 151, 105);
}

.action-buttons {
  margin-top: 20px;
}

.back-button, .logout-button {
  padding: 10px;
  background-color: rgb(163, 65, 64);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.back-button:hover, .logout-button:hover {
  background-color: rgb(231, 114, 112);
}
